In [1]:
import datetime
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import pandas_datareader as pdr

In [2]:
from my_momentum import *

In [3]:
ethusd_train = pdr.get_data_yahoo('ETH-USD', 
        start=datetime.datetime(2016, 1, 1), 
        end=datetime.datetime(2018, 12, 31))

In [4]:
ethusd_test = pdr.get_data_yahoo('ETH-USD', 
        start=datetime.datetime(2019, 1, 1), 
        end=datetime.datetime(2020, 12, 31))

In [6]:
ethusd_final = pdr.get_data_yahoo('ETH-USD', 
        start=datetime.datetime(2021, 1, 1), 
        end=datetime.datetime(2021, 8, 13))

In [7]:
ethusd_final

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2021-01-01,749.201843,719.792236,737.708374,730.367554,13652004358,730.367554
2021-01-02,786.798462,718.109497,730.402649,774.534973,19740771179,774.534973
2021-01-03,1006.565002,771.561646,774.511841,975.507690,45200463368,975.507690
2021-01-04,1153.189209,912.305359,977.058838,1040.233032,56945985763,1040.233032
2021-01-05,1129.371460,986.811279,1041.498779,1100.006104,41535932781,1100.006104
...,...,...,...,...,...,...
2021-08-09,3228.940674,3059.229004,3163.050049,3141.691162,27605221710,3141.691162
2021-08-10,3269.209473,3122.916504,3142.830322,3164.245117,26729035052,3164.245117
2021-08-11,3236.314697,2984.166992,3164.175781,3043.414307,25403699845,3043.414307
2021-08-12,3324.671631,3037.676025,3049.001221,3322.211670,23868866254,3322.211670
2021-08-13,3329.281006,3214.519775,3322.762695,3265.443359,19860862133,3265.443359

In [22]:
ethusd_train['Diff'] = ethusd_train['Close'] - ethusd_train['Open']
ethusd_test['Diff'] = ethusd_test['Close'] - ethusd_test['Open']
ethusd_final['Diff'] = ethusd_final['Close'] - ethusd_final['Open']

In [23]:
data_train = ethusd_train.values
data_test = ethusd_test.values
data_final = ethusd_final.values

balance = 1000

In [24]:
k1, k2, ds = koef_validation(data_train, balance)

In [25]:
result = momentum(data_test, balance, k1, k2, ds)

In [26]:
print(k1, k2, ds)
result

99 78 9

4632.638829434778

In [27]:
final = momentum(data_final, balance, k1, k2, ds)
final

1823.7754820934967